* {
  box-sizing: border-box;
}
body {
  font: 400 16px 'PT Sans', sans-serif;
  line-height: 2;
  color: #2c4757;
}
img {
  max-width: 100%;
  height: auto;
}
.shadow-line {
  background: transparent url('images/footer-line-shadow.png') no-repeat top center;
  width: 960px;
  height: 28px;
  margin: 4px auto;
  padding: 0;
}
tooltip.top .tooltip-arrow {
  border-top-color: #f09033;
}
.tooltip-inner {
  color: #fff;
  background: #f09033;
  border: solid 3px #fff;
  font-size: 2rem;
  padding: 20px;
}
/*  GLOBAL LAYOUT
==========================***/
#top {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
}
#top img {
  margin: 0 auto;
}
.header-middle {
  font: 700 2.5rem 'PT Sans', sans-serif;
}
.header-middle span {
  color: #f09033;
}
h3.top-phone-desktop {
  font: 700 3rem 'PT Sans', sans-serif;
  color: #f09033;
}
#main-content {
  text-align: justify;
}
#main-content .col-sm-8 {
  padding-right: 50px;
  margin-top: 30px;
}
#breadcrumbs {
  background: #f2f2f2;
  color: #ccc;
  font-size: 14px;
  text-shadow: 1px 1px 1px #fff;
  padding-left: 50px;
}
/** Navigation
=========================***/
#navigation {
  background-color: #f09033;
  color: #ffffff;
}
#navigation .top-phone {
  font-size: 2rem;
  font-weight: 700;
}
.navbar-custom {
  background-color: none;
}
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover {
  background-color: #ee831b;
}
.navbar-custom a {
  color: #ffffff;
}
.navbar {
  margin-bottom: 0;
}
.navbar-toggle {
  background-color: #ffffff;
  float: none;
}
.navbar-toggle .icon-bar {
  background-color: #f09033;
}
/** SPLASH
=============================***/
#splash {
  background: url(images/splash-background.jpg);
  position: relative;
  max-height: 450px;
}
#splash h3 {
  font: 700 5rem 'PT Sans', sans-serif;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px #fff;
}
#splash h3 span {
  color: #f09033;
}
#splash .splash-left {
  border: solid #ffffff 5px;
}
#splash .stephen {
  bottom: 0;
  right: 0;
}
#splash .stephen-image {
  max-width: 90%;
}
/** ACCORDIAN
================================***/
.panel-group .panel + .panel {
  margin-top: 5;
}
.panel-group {
  margin-top: 50px;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-default {
  border-color: #f09033;
}
.panel-default > .panel-heading {
  background-color: #f09033;
  color: #fff;
  padding: 20px;
  border-radius: 0;
}
.panel-default > .panel-heading:hover {
  background-color: #ee831b;
}
.panel-title {
  font-weight: 700;
  font-size: 2.25rem;
}
.panel-title a {
  text-decoration: none;
}
/** REVIEWS CAROUSEL
=======================***/
#reviews {
  background: url(images/trust-background.png);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  color: #ffffff;
}
#reviews .fa-star {
  color: gold;
}
.carousel-inner .active.left {
  left: -25%;
}
.carousel-inner .next {
  left: 25%;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/** TRUST
=======================***/
#trust {
  background: url(images/reviews-background.png);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}
/** UPPER FOOTER
=======================***/
.recent-posts-widget ul {
  padding-left: 0;
  list-style: none;
}
.recent-posts-widget ul li a {
  color: #f09033;
  font: normal 1.5rem 'PT Sans', sans-serif;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/** FOOTER
=====================***/
#footer-upper {
  padding: 30px;
  background: url(images/footer_bg.png);
  color: #ffffff;
  text-align: justify;
}
/* Set the fixed height of the footer here */
#footer {
  background: url(images/footer_bg.png);
  color: #ffffff;
  font-size: 10px;
}
/** RESPONSIVE STUFF
=======================***/
@media (max-width: 460px) {
  #top img {
    margin-left: 20%;
  }
}
@media (max-width: 1200px) {
  .stephen-image {
    max-width: 100%;
  }
}
