@orange: #F09033;
@orange-dark: darken(@orange, 5%);
@gray:#f3f3f3;
@black:#000;
@white:#fff;
@font-color:#2C4757;
@font: 'PT Sans', sans-serif;

// PT+Sans:400,700,400italic,700italic

* {
	box-sizing:border-box;
}
body {
	font:400 16px @font;
	line-height:2;
	color:@font-color;
}
img {
	max-width:100%;
	height:auto;
}
.shadow-line {
	background: transparent url('images/footer-line-shadow.png') no-repeat top center;
    width: 960px;
    height: 28px;
    margin: 4px auto;
    padding: 0;
}
tooltip.top .tooltip-arrow {
border-top-color: @orange;
}
.tooltip-inner {
  color: #fff;
  background: @orange;
  border: solid 3px #fff;
  font-size:2rem;
  padding:20px;
}

/*  GLOBAL LAYOUT
==========================***/
#top {
	padding-top:20px;
	padding-bottom:20px;
	background:@white;
	img {
		margin:0 auto;
	}
}
.header-middle {
	font:700 2.5rem 'PT Sans', sans-serif;
	span {
		color:#f09033;
	}
}
h3.top-phone-desktop {
	font:700 3rem @font;
	color:@orange;
}
#main-content {
	text-align:justify;
	.col-sm-8 {
		padding-right:50px;
		margin-top:30px;
	}
}
#breadcrumbs {
	background:#f2f2f2;
	color:#ccc;
	font-size:14px;
	text-shadow:1px 1px 1px #fff;
	padding-left:50px;
}

/** Navigation
=========================***/
#navigation {
	background-color:@orange;
	color:@white;
	.top-phone {
		font-size:2rem;
		font-weight:700;
	}
}
.navbar-custom {
	background-color:none;
	.nav>li>a:focus, .nav>li>a:hover {
		background-color:@orange-dark;
	}
	a {
		color:@white;
	}
}
.navbar {
	margin-bottom:0;
}
.navbar-toggle {
	background-color:@white;
	float:none;
}
.navbar-toggle .icon-bar {
	background-color:@orange;
}

/** SPLASH
=============================***/
#splash {
	background:url(images/splash-background.jpg);
	position:relative;
	max-height:450px;
	h3 {
		font:700 5rem @font;
		color:@white;
		margin-top:30px;
		margin-bottom:30px;
		text-shadow:1px 1px 1px #fff;
		span {
			color:@orange;
		}
	}
	.splash-left {
			border:solid @white 5px;
			
	}
	.stephen {
		bottom: 0;
    	position: absolute;
    	right: 0;
	}
	.stephen-image {
		max-width:90%;
	}
}

/** ACCORDIAN
================================***/
.panel-group .panel+.panel {
	margin-top:5;
}
.panel-group {
	margin-top:50px;
}
.panel-group .panel {
	border-radius:0;
}
.panel-default {
	border-color:@orange;
}
.panel-default>.panel-heading {
	background-color:#f09033;
	color:#fff;
	padding:20px;
	border-radius:0;
	&:hover {
		background-color:@orange-dark;
	}
}
.panel-title {
	font-weight: 700;
    font-size: 2.25rem;
}
.panel-title a {
	text-decoration:none;
}

/** REVIEWS CAROUSEL
=======================***/
#reviews {
	background:url(images/trust-background.png);
	padding-top:30px;
	padding-bottom:30px;
	margin-top:50px;
	color:@white;
	.fa-star {
		color:gold;
	}
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

/** TRUST
=======================***/
#trust {
	background:url(images/reviews-background.png);
	background-size:cover;
	padding-top:30px;
	padding-bottom:30px;
	color:@white;
}

/** UPPER FOOTER
=======================***/
.recent-posts-widget {
	ul {
		padding-left:0;
		list-style:none;
		li {
			a {
				color:@orange;
				font:normal 1.5rem @font;
			}
		}
	}
}



/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/** FOOTER
=====================***/
#footer-upper {
	padding:30px;
	background:url(images/footer_bg.png);
	color:@white;
	text-align:justify;
}

/* Set the fixed height of the footer here */
#footer {
  background:url(images/footer_bg.png);
  color:@white;
  font-size:10px;
}

/** RESPONSIVE STUFF
=======================***/
//mobile size
@media (max-width:460px) {
	#top {
		img {
			margin-left:20%;
		}
	}
}
@media (max-width:1200px) {
	.stephen-image {
		max-width:100%;
	}
}